body{
    text-align: center;
}

div{
    height: 50px;
    width: 50px;
    display: inline-block;
}

#container{
    height: 200px;
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    /* align-content: end; */
}


#ladder1{
    height: 100px;
    background-color: coral;
}

#ladder2{
    height: 75px;
    background-color: crimson;
}

#ladder3{
    background-color: blueviolet;
}